# Windows CMD examples
KAFKA_BOOTSTRAP=localhost:9092
KAFKA_TOPIC=nse-equity-ticks
STREAM_INTERVAL=5
KAFKA_PARTITIONS=3

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=sda_course_a3
